body {
  font-family: 'Noto Sans', sans-serif;
}

.footer .icon-link {
  font-size: 25px;
  color: #000;
}

.footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 2rem;
}

.footer-logos img {
  height: 64px;
  width: auto;
}

@media (max-width: 600px) {
  .footer-logos img {
    height: 40px;
  }
}

.footer .content {
  justify-content: center;
  text-align: center; 
  margin-top: 5rem;
  margin-bottom: 0;
  font-size: smaller;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.link-block a {
  margin-top: 5px;
  margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}

.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}

.publication-title {
  font-family: 'Google Sans', sans-serif;
}

.publication-authors {
  font-family: 'Google Sans', sans-serif;
}

.affiliations-line {
  margin-top: 0.25rem;
}

.publication-venue {
  color: #555;
  width: fit-content;
  font-weight: bold;
}

.publication-awards {
  color: #ff3860;
  width: fit-content;
  font-weight: bolder;
}

.publication-authors a {
  color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
  text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  border-radius: 10px !important;
}

.publication-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.publication-body img {
  max-width: 100%;
  height: auto;
}

.abstract-section {
  padding-bottom: 1.5rem;
}

.main-section {
  padding-top: 1rem;
}

.abstract-separator {
  display: block;
  margin: 1.25rem auto 1.5rem;
  width: 100%;
  max-width: 960px;
  border: 0;
  border-top: 1px solid #fafafa4d;
}

.results-carousel {
  overflow: hidden;
  margin-top: 1.5rem;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
  background: #fff;
}

.results-carousel img,
.results-carousel video {
  width: 100%;
  height: auto;
  display: block;
}

.results-carousel video {
  margin: 0;
}
