---
layout: default
---

<section class="hero">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <div class="columns is-centered">
        <div class="column has-text-centered">
          <h1 class="title is-1 publication-title">{{ page.title }}</h1>

          {% if page.authors %}
          <div class="is-size-5 publication-authors">
            {% for author in page.authors %}
            <span class="author-block">
              {% if author.name %}
                {% if author.url %}
                  <a href="{{ author.url }}">{{ author.name }}{% unless forloop.last %}, {% endunless %}</a>
                {% else %}
                  {{ author.name }}{% unless forloop.last %}, {% endunless %}
                {% endif %}
              {% else %}
                {{ author }}{% unless forloop.last %}, {% endunless %}
              {% endif %}
            </span>
            {% endfor %}
          </div>
          {% endif %}

          {% if page.affiliations %}
          <div class="is-size-5 publication-authors">
            {% for affiliation in page.affiliations %}
              <span class="author-block">
                {{ affiliation }}{% unless forloop.last %}, {% endunless %}
              </span>
            {% endfor %}
          </div>
          {% endif %}

          {% if page.links or page.paper or page.video or page.code or page.data %}
          <div class="column has-text-centered">
            <div class="publication-links">
              {% for link in page.links %}
              <span class="link-block">
                <a href="{{ link.url }}"
                   class="external-link button is-normal is-rounded is-dark">
                  {% if link.icon %}
                  <span class="icon">
                    <i class="{{ link.icon }}"></i>
                  </span>
                  {% endif %}
                  <span>{{ link.label }}</span>
                </a>
              </span>
              {% endfor %}

              {% if page.paper %}
              <span class="link-block">
                <a href="{{ page.paper }}"
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="fas fa-file-pdf"></i>
                  </span>
                  <span>Paper</span>
                </a>
              </span>
              {% endif %}

              {% if page.video %}
              <span class="link-block">
                <a href="{{ page.video }}"
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="fab fa-youtube"></i>
                  </span>
                  <span>Video</span>
                </a>
              </span>
              {% endif %}

              {% if page.code %}
              <span class="link-block">
                <a href="{{ page.code }}"
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="fab fa-github"></i>
                  </span>
                  <span>Code</span>
                  </a>
              </span>
              {% endif %}

              {% if page.data %}
              <span class="link-block">
                <a href="{{ page.data }}"
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="fas fa-database"></i>
                  </span>
                  <span>Data</span>
                </a>
              </span>
              {% endif %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container is-max-desktop">
    <div class="content publication-body">
      {{ content }}
    </div>
  </div>
</section>
